/* || RESET */
*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  margin-top: 0;
}

/* || VARIABLES */

:root {
  --fs-1: 1.15rem;
  --fs-2: 1.5rem;
  --fs-3: 1.75rem;
}

/* || GENERAL STYLING */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: var(--fs-1);
}

/* || UTILITIES */

.wrapper {
  padding: 0 16px;
}

/* || HEADER (left col on desktop) */

.header {
  background-image: url(../imgs/toni-tan-4svRPgAMT8s-unsplash.jpg);
  padding: 24px;
}

.header__logoDiv {
  background: #000;
  opacity: 0.4;
  color: white;
}

.header__logo {
  width: 150px;
}

/* || MAIN (right col on desktop */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main__text {
  font-size: var(--fs-2);
}

.wrapper-form {
  background-color: antiquewhite;
  padding: 32px 16px;
}

.button {
  padding: 1em 2em;
  display: inline-block;
}

/* || MEDIA QUERY*/

@media (min-width: 800px) {
  body {
    flex-direction: row;
  }

  .wrapper {
    padding: 24px 48px;
  }
}
